.container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

img{
	width: 450px;
	height: 300px;
	margin: 10px;
	transition: all 10s;
}

h1{
	font-family: fantasy;
	font-size: 3em;
	border-bottom: 3px pink;
	width: 300px;
}

img:hover{
	transform: scale(2);
}